.home-newPost {
    margin: .8rem auto;
    padding: 0 .3rem;
}

.home-newPost input {
    width: 90%;
    height: 2rem;
}

.home-newPost button {
    width: 9%;
    height: 2.25rem;
    color: #F8EDEB;
    background-color: #DB938F;
    border: none;
}

.home-newPost button:hover {
    color: #DB938F;
    background-color: #F8EDEB;
    border: 1px solid #DB938F;
    cursor: pointer;
}