.App {
  text-align: center;
  margin: auto;
}

.app-body {
  width: 90%;
  margin: auto;
  display: flex;
}

.app-posts-section {
  width: 75%;
}

.vertical-line {
  margin-left: 1rem;
  border-left: 1px solid #121212;
  height: 55rem;
}