.nav-header {
    height: 4rem;
    padding: 1.5rem 0;
    background-color: #fcd5ce;
    margin-bottom: 1rem;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    align-items: center;
    width: 85%;
    /* border: 1px solid red; */
}

.nav-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.nav-content li:last-child {
    margin: 0px;
}

.nav-content li {
    font-size: 1.5rem;
}

.nav-content ul li p {
    color: black
}

.nav-content ul li p:hover {
    color: white
}

.nav-content-li {
    margin: 0 3rem;
}

.user-nav {
    display: flex;
    align-items: center;
}

.user-nav img {
    width: 1.5rem;
    margin-right: .35rem;
}

nav ul li {
    padding: .35rem .5rem;
}

nav ul li:hover {
    background-color: #DB938F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}